{% macro rainbow(value) %}
  <div class="wave-text rainbow-text">
    {% for letter in value %}
      {% if letter === ' ' %} 
        <h1>&nbsp;</h1>
      {% else %}
        <h1>{{ letter }}</h1>
      {% endif %}
    {% endfor %}
  </div>
{% endmacro %}