@import 'reset'
@import 'main'
@import 'utils'
@import 'colors'
@import 'wave-animation'
@import 'button'
@import 'anchor'

.intro
  &__hello
    display: flex
    align-items: center
    justify-content: space-between
    margin: auto
    .wave-text
      display: flex
      align-items: center
      height: 10rem
  &__text
    margin: 4rem auto 4rem
  
.thanks-for-visiting
  display: flex
  align-items: center
  justify-content: center
  span
    margin: 0 1rem 0