---
layout: base.njk
---

{% from 'macros/wave-text.njk' import waveText %}
{% from 'macros/strava-text.njk' import stravaText %}

<section class='intro'>
  <div class="container">
    <div class='intro__hello'>
      <img src='img/rotating-pc.gif' />
        {{ waveText('Hey there!', 'h1', 'rainbow') }}
      <img src='img/rotating-pc.gif' />
    </div>
    <div class='intro__text'>
      <h2 class='text-center color-yellow'>I'm Leo, a Serious Web Developer™</h2>
      <p class='text-center color-yellow'>Welcome to my Business Page</p>
      <div class='text-center'>
        <img src='img/dancing-baby.gif' />
      </div>
    </div>
  </div>
</section>
<section class=''>
  <div class="container">
    <p>I really like to run! I post all of my runs on <a target='_blank' href='{{ strava.profileUrl }}' class='color-strava color-strava--link'>Strava dot com</a>. You can check out my latest run by clicking this cool running man (or you can click <a target='_blank' href='{{ strava.activityUrl }}' class='color-strava color-strava--link'>here too</a>):</p>
    <div class='strava'>
      <a target='_blank' href='{{ strava.activityUrl }}'><img src='img/running.gif' /></a>
      <div>
        <p>{{ stravaText(strava.distanceMiles) }}</p>
        <p class='strava__small'>(That's {{ strava.distanceKm }} kilometers for you metric system heads out there.)</p>
      </div>
    </div>
  </div>
</section>
<section class='fun-facts'>
  <div class='container'>
    <div class='fun-facts__sonic'>
      <img src='img/sonic.gif' />
    </div>
  </div>
</section>
{% include 'partials/thanks-for-visiting.njk' %}
{% include 'partials/hits.njk' %}

