<section class='counter text-center'>
  <p>Hits:</p>
  <div class='counter__number'>
    {% for hit in hits %}
      <img src='img/{{ hit.path }}.gif' alt='{{ hit.number }}'>
    {% endfor %}
  </div>
</section>