<div class='text-center thanks-for-visiting'>
  <img src='img/heart.gif' />
  <span class='text-center'>Thanks for visiting!</span>
  <img src='img/heart.gif' />
</div>
{% for number, path in hits %}
  {{ number }}
{% endfor %}
